In [1]:
import pandas as pd

df = pd.read_csv("cleaned_data.csv")
df

   Subject ID Language             Datetime  Q1  Q2   Q3   Q4  Q5   Q6  Q7  Q8
0        p259    Malay  2021_04_07_10_53_37  -1  -1 -1.0 -1.0  -1  0.0   1  -1
1        K658    Malay  2010_01_04_09_47_33   2   2  2.0  2.0  -2 -2.0  -2   0
2        p258    Malay  2021_04_07_10_51_50   2   1 -2.0  0.0  -1 -2.0  -1   0
3        N665    Malay  2021_07_21_17_57_07  -2   2  0.0 -2.0   0  1.0  -2   0
4        p238    Malay  2021_04_13_11_02_13   2   2  0.0  0.0   2  1.0   2   1
..        ...      ...                  ...  ..  ..  ...  ...  ..  ...  ..  ..
62      p1119    Tamil  2021_03_26_10_54_45   2   1  1.0  2.0  -1  1.0   0  -2
63      p1438    Tamil  2021_04_26_12_34_31   2   1  2.0  0.0   0  1.0   1   2
64      p2453    Tamil  2021_04_22_10_07_04   1   2  1.0  1.0   2  1.0   1   1
65       P313    Tamil  2021_03_30_11_41_14   2   2  2.0  2.0   0  2.0   2   2
66      p3471    Tamil  2021_04_21_11_38_06   2   2  2.0  2.0   2  2.0   2   2

[67 rows x 11 columns]

In [2]:
# For each mother tongue and question, compute

questions = df[["Q1","Q2","Q3","Q4","Q5","Q6","Q7","Q8"]]

Mandarin = pd.Series(df["Language"] == 'Mandarin')
df_mandarin = questions[Mandarin]

Malay = pd.Series(df["Language"] == 'Malay')
df_malay = questions[Malay]

Tamil = pd.Series(df["Language"] == 'Tamil')
df_tamil = questions[Tamil]


#  Mean
print("Mandarin Mean: ")
print(df_mandarin.mean())
print("\nMalay Mean: ")
print(df_malay.mean())
print("\nTamil Mean: ")
print(df_tamil.mean())

#  Sample Standard Deviation
print("\nMandarin Sample Standard Deviation: ")
print(df_mandarin.std())
print("\nMalay Sample Standard Deviation: ")
print(df_malay.std())
print("\nTamil Sample Standard Deviation: ")
print(df_tamil.std())

Mandarin Mean:
Q1    1.153846
Q2    1.000000
Q3    1.038462
Q4    0.923077
Q5    0.153846
Q6    1.384615
Q7    1.076923
Q8    1.346154
dtype: float64

Malay Mean:
Q1    1.0000
Q2    0.9375
Q3    0.5625
Q4    0.1250
Q5    0.3125
Q6    0.8125
Q7    0.5000
Q8    0.6250
dtype: float64

Tamil Mean:
Q1    1.36
Q2    1.16
Q3    1.04
Q4    1.20
Q5    0.60
Q6    1.16
Q7    0.88
Q8    1.20
dtype: float64

Mandarin Sample Standard Deviation:
Q1    1.120439
Q2    0.938083
Q3    0.958364
Q4    1.230385
Q5    1.713296
Q6    1.022817
Q7    1.324329
Q8    0.845804
dtype: float64

Malay Sample Standard Deviation:
Q1    1.264911
Q2    1.062623
Q3    1.364734
Q4    1.310216
Q5    1.447699
Q6    1.424488
Q7    1.632993
Q8    1.310216
dtype: float64

Tamil Sample Standard Deviation:
Q1    1.150362
Q2    1.312758
Q3    1.019804
Q4    1.190238
Q5    1.443376
Q6    1.106044
Q7    1.235584
Q8    1.190238
dtype: float64