In [1]:
import pandas as pd

df = pd.read_csv("cleaned_data.csv")
df

   Subject ID Language             Datetime  Q1  Q2   Q3   Q4  Q5   Q6  Q7  Q8
0        p259    Malay  2021_04_07_10_53_37  -1  -1 -1.0 -1.0  -1  0.0   1  -1
1        K658    Malay  2010_01_04_09_47_33   2   2  2.0  2.0  -2 -2.0  -2   0
2        p258    Malay  2021_04_07_10_51_50   2   1 -2.0  0.0  -1 -2.0  -1   0
3        N665    Malay  2021_07_21_17_57_07  -2   2  0.0 -2.0   0  1.0  -2   0
4        p238    Malay  2021_04_13_11_02_13   2   2  0.0  0.0   2  1.0   2   1
..        ...      ...                  ...  ..  ..  ...  ...  ..  ...  ..  ..
62      p1119    Tamil  2021_03_26_10_54_45   2   1  1.0  2.0  -1  1.0   0  -2
63      p1438    Tamil  2021_04_26_12_34_31   2   1  2.0  0.0   0  1.0   1   2
64      p2453    Tamil  2021_04_22_10_07_04   1   2  1.0  1.0   2  1.0   1   1
65       P313    Tamil  2021_03_30_11_41_14   2   2  2.0  2.0   0  2.0   2   2
66      p3471    Tamil  2021_04_21_11_38_06   2   2  2.0  2.0   2  2.0   2   2

[67 rows x 11 columns]

In [8]:
# For each question, compute the overall

questions = df[["Q1","Q2","Q3","Q4","Q5","Q6","Q7","Q8"]]

#  Mean
print("Mean: ")
print(questions.mean())

#  Sample Standard Deviation
print("\nSample Standard Deviation: ")
print(questions.std())

Mean:
Q1    1.194030
Q2    1.044776
Q3    0.925373
Q4    0.835821
Q5    0.358209
Q6    1.164179
Q7    0.865672
Q8    1.119403
dtype: float64

Sample Standard Deviation:
Q1    1.157830
Q2    1.106904
Q3    1.091474
Q4    1.286256
Q5    1.544310
Q6    1.162508
Q7    1.369533
Q8    1.121719
dtype: float64